<div class="main">
  <div id="content">
    <div class="form-group form-check" id="check">
      <label class="checkBoxLable">
        <input type="checkbox" [(ngModel)]="model.object" /> Object
      </label>
      <label class="checkBoxLable">
        <input type="checkbox" [(ngModel)]="model.segmentation" />
        Segmentation
      </label>
      <label class="checkBoxLable">
        <input type="checkbox" [(ngModel)]="model.rowImage" /> Row Image
      </label>
    </div>
    <div class="container video">
      <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-controls>
          <vg-play-pause></vg-play-pause>

          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>

          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

          <vg-quality-selector
            *ngIf="bitrates"
            (onBitrateChange)="setBitrate($event)"
            [bitrates]="bitrates"
          >
          </vg-quality-selector>

          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video
          #media
          (onGetBitrates)="bitrates = $event"
          [vgMedia]="media"
          [vgHls]="currentStream.source"
          id="singleVideo"
          crossorigin
        ></video>
      </vg-player>
    </div>
  </div>
</div>
